@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,300;1,400&display=swap');

$primary-font: 'Roboto', sans-serif;
$secondary-font: 'Times New Roman', Times, serif;
$primary-color: #F5F5F5;
$secondary-color: #EAE3E3;
$color-text: #626262;